body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

/* ABOUT US  */

.section-aboutUs {
  display: none;
}

.title-center {
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.aboutUsText {
  border-top: 1px #17a2b8 solid;
  color: #fff;
  padding-top: 40px;
}

.iconos {
  background-color: #17a2b8;
}

.iconos i {
  display: block;
  text-align: center;
}

.destacados-contenedor {
  border-top: 1px #17a2b8 solid;
  color: #fff;
  padding-top: 40px;
}

footer {
  background-color: #17a2b8;
}

.viajes-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  flex-wrap: nowrap;
  margin-top: 30px;
  height: 100px;
}

.texto-footer {
  padding-top: 7px;
}

.iconos-del-footer {
  display: flex;
}

.iconos-footer {
  margin-left: 10px;
  color: #fff;
}

.iconos-footer a {
  text-decoration: none;
}

.fab {
  color: white;
}

.card {
  margin-bottom: 40px;
}

.card-body {
  background-color: #17a2b8;
}

.texto-contacto {
  text-align: center;
  color: #fff;
}

.contenedor-contacto {
  border-top: 1px #17a2b8 solid;
}

#navbarNav {
  justify-content: end;
}

.fixed-top.scrolled {
  background-color: #15aabf;
  transition: background-color 200ms linear;
}

@media screen and (min-width: 990px) {
  .section-aboutUs {
    display: block;
  }
  .iconos-footer {
    margin-left: 10px;
    color: #fff;
    font-size: 30px;
  }
  .texto-footer {
    padding-top: 7px;
    font-size: 40px;
  }
}
