body {
  background-color: black;
}
html {
  scroll-behavior: smooth;
}

/* ABOUT US  */

.section-aboutUs {
  display: none;
}

.title-center {
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.aboutUsText {
  border-top: 1px #15aabf solid;
  color: #fff;
  padding-top: 40px;
}

.iconos {
  background-color: #15aabf;
}

.iconos i {
  display: block;
  text-align: center;
}

.destacados-contenedor {
  border-top: 1px #15aabf solid;
  color: #fff;
  padding-top: 40px;
}

footer {
  background-color: #15aabf;
}

.viajes-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  flex-wrap: nowrap;
  margin-top: 30px;
}

.iconos-del-footer {
  display: flex;
}

.iconos-footer {
  margin-left: 10px;
}

.card {
  margin-bottom: 40px;
}

.card-body {
  background-color: #15aabf;
}

.texto-contacto {
  text-align: center;
  color: #fff;
}

.contenedor-contacto {
  border-top: 1px #15aabf solid;
}

#navbarNav {
  justify-content: end;
}

@media screen and (min-width: 1280px) {
  .section-aboutUs {
    display: block;
  }
}
