/* BODY */
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

/* NAVBAR */

.navbar-brand {
  font-size: 25px;
}

.collapse.navbar-collapse {
  justify-content: end;
  font-weight: 400;
  font-size: 18px;
}

.fixed-top.scrolled {
  background-color: #15aabf;
  transition: background-color 200ms linear;
}

/* ABOUT US  */

.section-aboutUs {
  display: none;
}

.title-center {
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 700;
}

.aboutUsText {
  border-top: 1px #17a2b8 solid;
  color: #fff;
  padding-top: 40px;
  font-weight: 400;
}

.iconos {
  background-color: #17a2b8;
}

.iconos i {
  display: block;
  text-align: center;
}

/* CARDS */
.destacados-contenedor {
  border-top: 1px #17a2b8 solid;
  color: #fff;
  padding-top: 40px;
}
.card {
  margin-top: 30px;
}

.card-body {
  background-color: #17a2b8;
}

.card-text {
  font-weight: 400;
}
.card-title {
  font-weight: 700;
  font-size: 22px;
}

/* CONTACTO */

.contenedor-contacto {
  border-top: 1px #17a2b8 solid;
}

/* FOOTER */
footer {
  background-color: #17a2b8;
}

.viajes-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  flex-wrap: nowrap;
  margin-top: 30px;
  height: 100px;
}

.texto-footer {
  padding-top: 7px;
  font-weight: 700;
  font-size: 20px;
}

.iconos-del-footer {
  display: flex;
}

.iconos-footer {
  margin-left: 10px;
  color: #fff;
}

.iconos-footer a {
  text-decoration: none;
}

.fab {
  color: white;
}

@media screen and (min-width: 768px) {
  /* NAVBAR */
  .navbar-brand {
    font-size: 30px;
  }
  /* ABOUT US */
  .section-aboutUs {
    display: block;
  }
  /*FOOTER */
  .iconos-footer {
    margin-left: 10px;
    color: #fff;
    font-size: 30px;
  }
  .texto-footer {
    padding-top: 7px;
    font-size: 40px;
  }
}
